<% if @milestones.present? %>
  <% @milestones.each do |milestone| %>
    <div class="velocibox milestone milestone-<%= milestone.status_class %>">
      <a href="#" class="btn btn-default pull-right"><%= milestone.status_button %></a>

      <label class="checkbox" for="checkbox<%= milestone.id %>">
        <% if milestone.status == "1" || milestone.status == "2" %>
          <input type="checkbox" value="" id="checkbox<%= milestone.id %>" data-toggle="checkbox">
        <% elsif milestone.status == "3" %>
          <input type="checkbox" checked="checked" value="" id="checkbox2" data-toggle="checkbox" checked="">
        <% else %>
          <input type="checkbox" checked="checked" value="" id="checkbox4" data-toggle="checkbox" disabled="" checked="">
        <% end %>

        <%= milestone.title %>
      </label>
    </div>
  <% end %>
<% else %>
  <div class="empty-data center">You've created no milestones...get to work!!!</div>
<% end %>
