<div id="dashboard">
  <div class="row dash">
    <div class="col-md-8">
      <h4>Recent Metrics</h4>

      <div id="areachart" class="velocibox chart"></div>
      <%#<div class="velocibox chart">%>
        <%#[>= render "table" <]%>
      <%#</div>%>
    </div>

    <div class="col-md-4 right-col">
      <div class="login-form">
        <%= form_for("post", url: posts_path, method: :post) do |f| %>
          <div class="form-group comment-field">
            <%= f.text_area :comment, class: "form-control", placeholder: "Post a Note" %>
          </div>

          <%= f.hidden_field :client_id, value: @client.id  %>
          <%= f.hidden_field :user_id, value: current_user.id  %>

          <%= f.submit 'Post', class: "btn btn-primary btn-block" %>
        <% end %>
      </div>

      <div id="collabofeed">
        <% @posts.reverse.each do |post| %>
          <div class="velocibox post">
            <%= link_to "<i class='fa fa-trash-o trash'></i>".html_safe, post_path(post.id), confirm: "Are you sure?", method: :delete %>

            <div class="post-details">
              <i class="fa fa-clock-o"></i> <%= post.created_at.strftime("%B %d, %Y") %> by
              <em><%= post.user.name %></em>
            </div>

            <div class="post-comment">
              <%= post.comment %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
