<div id="dashboard-nav">
  <div class="container">
    <h1><%= @campaign.name %> <em>(<%= link_to(@agency.name, agency_path(@agency)) %>)</em></h1>

    <nav>
    <ul>
      <li><%= active_link_to "<i class='fa fa-cogs'></i> Dashboard".html_safe, agency_campaign_path(@campaign.agency, @campaign), active: :exclusive %></li>
      <li><%= active_link_to "<i class='fa fa-bar-chart-o'></i> Metrics".html_safe, agency_campaign_metrics_path(@campaign.agency, @campaign) %></li>
      <li><%= active_link_to "<i class='fa fa-group'></i> Social Analysis".html_safe, agency_campaign_social_analytics_path(@campaign.agency, @campaign) %></li>
      <li><%= active_link_to "<i class='fa fa-group'></i> Milestones".html_safe, agency_campaign_milestones_path(@campaign.agency, @campaign) %></li>
      <li><%= active_link_to "<i class='fa fa-clipboard'></i> Reports".html_safe, agency_campaign_reports_path(@campaign.agency, @campaign) %></li>
    </ul>
    </nav>
  </div>
</div>

