<div id="social-feed">
  <div class="row social-header">
    <div class="col-md-12">
      <div class="velocibox center">
        <%= image_tag("Chat.png", class: "left") %>
        <%= image_tag("Watches.png", class: "right") %>
        <h4>Your feed of social activity based on<br /><strong>"<%= @campaign.social_keywords %>"</strong>.<br /><small>Updated every 3 hours.</small></h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h6><i class="fa fa-twitter"></i> Twitter</h6>

      <% @twitter.each do |post| %>
        <div class="velocibox">
          <i class="fa fa-user"></i>
          by <%= post.user %> on <%= post.date %>
          <p><%= post.content.html_safe %></p>
        </div>
      <% end %>
    </div>

    <div class="col-md-4">
      <h6><i class="fa fa-google-plus-square"></i> Google Plus</h6>

      <% @google_plus.each do |post| %>
        <div class="velocibox">
          <%= image_tag post.user_image %>
          by <%= link_to post.user, post.url %> on <%= post.date %>
          <p><%= post.content.html_safe %></p>
        </div>
      <% end %>
    </div>

    <div class="col-md-4">
      <h6><i class="fa fa-facebook-square"></i> Facebook</h6>

      <% @facebook.each do |post| %>
        <% next unless post.content.present? %>

        <div class="velocibox">
          <i class="fa fa-user"></i>
          by <%= post.user %> on <%= post.date %>
          <p><%= post.content.html_safe %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
