<!DOCTYPE html>
<html>
  <head>
    <title>Velociraptor</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Open+Sans:300,700" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div <%= 'id=dark-header' if user_signed_in? %> class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <i class="fa fa-comments-o"></i> 
            velociraptor <em>&trade;</em>
          </a>
        </div>

        <% if user_signed_in? %>
          <div class="btn-toolbar pull-right top-nav">
            <div class="btn-group">
              <div class="btn btn-primary">
                <i class="fa fa-user"></i> Hello <%= current_user.first_name %>!
              </div>

              <%= link_to('<i class="fa fa-sign-out"></i> Logout'.html_safe, destroy_user_session_path, method: :delete, class: "btn btn-inverse") %>
              <%= link_to('<i class="fa fa-cog"></i> Settings'.html_safe, admin_dashboard_path, class: "btn btn-inverse") %>
            </div>
          </div>
        <% else %>
          <div class="navbar-collapse collapse sign-in">
            <%= form_for("user", :url => user_session_path, html: { class: "navbar-form navbar-right" }) do |f| %>
              <div class="form-group">
                <%= f.text_field :email, class: "form-control email", placeholder: "Email" %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, class: "form-control password", placeholder: "Password" %>
              </div>
              <%= f.submit 'Sign in', class: "btn btn-primary" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <% unless user_signed_in? %>
      <div class="jumbotron">
        <div class="container">
          <%= image_tag("Map.png") %>

          <h1>SEO Software<br /><em>for</em> Awesome People</h1>
          <p>Bacon ipsum dolor sit amet cow pancetta biltong, ham strip steak t-bone shankle sausage. Frankfurter t-bone tenderloin drumstick.</p>
          <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
        </div>
      </div>
    <% else %>
      <div id="dashboard-nav">
        <div class="container">
          <nav>
            <ul>
              <li><%= link_to "<i class='fa fa-cogs'></i> Dashboard".html_safe, dashboard_path, class: "active" %></li>
              <li><%= link_to "<i class='fa fa-bar-chart-o'></i> Metrics".html_safe, dashboard_path, class: "" %></li>
              <li><%= link_to "<i class='fa fa-group'></i> Social Analysis".html_safe, dashboard_path, class: "" %></li>
              <li><%= link_to "<i class='fa fa-clipboard'></i> Reports".html_safe, dashboard_path, class: "" %></li>
            </ul>
          </nav>
        </div>
      </div>
    <% end %>

    <div class="container">
      <div id="flash-messages">
        <% flash.each do |type, message| %>
          <div class="alert alert-<%= type.to_s %>">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <%= message %>
          </div>
        <% end %>
      </div>

      <%= yield %>

      <hr>

      <footer>
        <p>&copy; Velociraptor 2013</p>
      </footer>
    </div>
  </body>
</html>
